.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  color: blanchedalmond;
  width: 28%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  border-radius: 0px;
  margin-bottom: 78px;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin-top: 600px;
  padding-bottom: 1px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:link {
  text-decoration: none;
}

a:active,
a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  max-height: 5000%;
  max-width: 500%;
  z-index: -1000;
}

hr {
  width: 150px;
}
